third_party/*
*.sublime-*
*error_log
(public_html)
temp
public_html/robots.txt

.tags*
public_html/css/*.min.css
migration/*/.migrated
tools
public_html/third_party/*
public_html/robots.txt

logs/access.log logs/error.log
logs
public_html/zatemas.api.log.txt
data

# Ignore generated config and prod/dev
project-config.php
project-config.test.json
project-config.dev.json
