<br>

<div class="container">
  <h1>Log in</h1>

    $?([continue]){
      <div class="alert alert-info"><strong>Please log in to continue.</strong></div>
    }
    $?([error]){
      <div class="alert alert-danger"><strong>Log in failed.</strong> Please, try again!</div>
    }

    <div class="col-md-4">
      <form class="form" method="POST" action="[@REQUEST_URI]">
        <div class="form-group">
          <label for="username">User</label>
          <input type="text" name="username" id="username" autofocus="autofocus" class="form-control" placeholder="Username or e-mail">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="submit" value="Log in" class="btn btn-primary">
          <span class="pull-right">
            <a href="#register">Register</a>
          </span>
        </div>
      </form>
      <br><br>
    </div>
</div>
